defn/
__pycache__/
*.pyc

data/sample_audio/output.wav
data/sample_audio/reconstructed.wav
data/sample_audio/watermarked.wav

# IDE
.vscode/
.idea/

# Logs
*.log

# Secrets / Crypto Keys
keys/private_key.pem

# Optional (if regenerating keys locally)
keys/public_key.pem

# Generated outputs
output/
metadata/*.pkl
*.joblib
*.bak
*.b64


# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Datasets
dataset/